.footer {
  background-color: getColor("backgroundFooter");
  display: flex;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-item {
  text-decoration: none;
}

.footer-address {
  font-family: $mainFontType;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: getColor("primaryWhite");
  margin-top: 20px;
}

.footer-contacts {
  .address {
    margin-top: 20px;
  }

  .logo {
    font-family: $logoFontType;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: getColor("emphasis");
  }
}

.footer-mail,
.footer-tel {
  font-family: $mainFontType;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: getColor("footerLink");
}

.mail-item {
  margin-bottom: 8px;
}

.footer-social-list .footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: getColor("primaryWhite");
}

.footer-social-link {
  @extend %contantAlign;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: getColor("backgroundLink");

  &:hover,
  &:focus {
    background-color: getColor("emphasis");
  }
}

.footer-list-icon {
  fill: getColor("primaryWhite");
  width: 20px;
  height: 20px;

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: getColor("primaryWhite");
  }
}

.footer-social-link,
.footer-list-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-call {
  font-family: $mainFontType;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor("primaryWhite");
  margin-bottom: 20px;
}

.footer-social-item {
  .social-list-link {
    background-color: getColor("backgroundLink");
  }
}

.footer-subscription-text {
  font-family: $mainFontType;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: getColor("primaryWhite");
}

.email-subscription {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: getColor("backgroundFooter");
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.subscription-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*.footer-form {
  padding-bottom: 60px;
}*/

.footer-form-button {
  display: flex;
  justify-content: center;
  background: getColor("emphasis");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border-style: hidden;
  cursor: pointer;

  font-family: $mainFontType;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: getColor("primaryWhite");
}

/*.footer-social {
  padding-bottom: 60px;
}*/

.footer-social-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer-subscription-text {
    text-align: center;
  }
  .social-call {
    text-align: center;
  }
  .footer-contacts {
    text-align: center;
  }
  .footer-form-button {
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-subscription-text {
    text-align: center;
  }
  .social-call {
    text-align: center;
  }
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-form-button {
    margin: auto;
  }

  .email-subscription {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer-form {
    display: flex;
  }
  .footer-social {
    padding-top: 72px;
    padding-bottom: 100px;
    padding-left: 70px;
  }

  .mail-item {
    margin-bottom: 9px;
  }

  .logo {
    font-size: 26px;
    line-height: 1.192;
  }

  .footer-form-button {
    cursor: pointer;
  }

  .email-subscription {
    width: 358px;
    margin-right: 12px;
  }

  .footer-subscription {
    margin-left: 93px;
    padding-top: 72px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social-list {
    display: flex;
  }
}
