.container {
  width: 100%;
  padding: 0 15px;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }

  .footer & {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    .header & {
      display: flex;
      align-items: center;
      padding-top: 21px;
      padding-bottom: 21px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;

    .header & {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
 */

/*   .hero-baner {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
 */
